.Dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.DialogsItem .Dialog {
    padding: 10px;
}

.DialogsItem .active {
    color: red
}



.messages {


}

.messages .message {
    padding: 10px;
}
